@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Serif SC", "Source Han Serif SC", serif;
  color: #f5f5f4;
  background: #0c0a09;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}
